go 1.24.0

toolchain go1.23.7

use (
	.
	./drivers/mongodb
	./drivers/mysql
	./drivers/oracle
	./drivers/postgres
)

replace cloud.google.com/go/compute => cloud.google.com/go/compute v1.23.3

replace cloud.google.com/go/compute/metadata => cloud.google.com/go/compute/metadata v0.7.0
